<%= form_tag( url: share_blog_path, method: :Post ) do %>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th>Users</th>
	    	<th></th>
	    </tr>
	  </thead>
	  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= check_box_tag 'user_ids[]', user.id %>
    <% end %>
  </tbody>
</table>
<%= submit_tag 'Share'%>
<% end %>