<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Hello,<p>
  	<p> <%= @author.first_name %> has shared a blog with you.</p>
  	<p><b>Title:</b></p>
    <p><%= @blog.title %></p>
    <p><b>Description:</b></p>
    <p><%= @blog.body %></p>
    <p>Thanks.</p>
  </body>
</html>
   