defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 20
  username: postgres
  password: postgres
  host: localhost
  port: 5432

development:
  database: blog_app_development
  <<: *defaults

test:
  database: blog_app_development
  <<: *defaults

production:
  database: blog_app_development
  <<: *defaults
